# SolaX Credentials
SOLAX_USERNAME=your_solax_username  # This is different than your registered email.
SOLAX_PASSWORD=your_password

# Plant Configuration
# Your Plant ID (Site ID) shared by both inverters
# You get this information when you login to the SolaX Web Portal and navigate to your plant's dashboard. It's a long numeric string.
SOLAX_SITE_ID=your_site_id

# Start date for data collection (YYYY-MM-DD)
SOLAX_START_DATE=2026-05-09

# Serial Numbers of your inverters (comma-separated)
# Example: SOLAX_INVERTER_SNS=SN12345,SN67890
SOLAX_INVERTER_SNS=SN1,SN2

# Set to "false" to enable live data syncing from SolaX Cloud
# If "true" (default), only database migrations and local JSON ingestion will run
SKIP_API_SYNC=true

# Minimum number of records required for a day to be considered "complete"
# Typical day has 144-200 records.
SOLAX_RECORD_THRESHOLD=170

# Database Configuration (Used by Extractor and Grafana)

POSTGRES_USER=solax
POSTGRES_PASSWORD=solax_pass
POSTGRES_DB=solax
GRAFANA_ADMIN_PASSWORD=admin

# Cryptographic Constants (Reverse engineered from SolaX Web Portal).
# If these are changed, the Extractor will not be able to decrypt the data from SolaX Cloud.
SOLAX_AES_KEY='hj7x22H$yuBI0456'
SOLAX_AES_IV='NIfb&74GUY86Gfgh'
